//Colors
$very-gray   :#666666;
$dark-blue   :#012169;
$navy-blue   :#18256B;
$light-blue  :#00B5EF;
$dark-gray   :#A2A2A2;
$mid-gray    :#D7D7D7;
$light-gray  :#F9F9F9;
$white       :#FFFFFF;
$red         :#EF3E4A;
$dark-pink   :#dc1783;


//Font Sizes
$h1          : 48px;
$largetext   : 36px;
$h4          : 24px;
$font18      : 18px;
$font14      : 14px;
$font12      : 12px;

//Font Weights
$bold   : 700;
$normal : 400;
$thin   : 300;
